:root {
  --gray-01: #fff;
  --gray-02: #9a9a9a;
  --gray-03: #676464;
  --gray-04: #141514;
  --gray-05: #000;

  --color-blue: #000fa6;
  --color-red: #d00020;

  --font-family-sans: "Arial Grotesk", Arial, Helvetica, sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;

  --font-size-xs: 1.3rem;
  --font-size-sm: 1.5rem;
  --font-size-rg: 2rem;
  --font-size-md: 3rem;
  --font-size-lg: 4rem;
  --font-size-xl: 7rem;

  --space-xxs: 0.5rem;
  --space-xs: 1rem;
  --space-sm: 2rem;
  --space-rg: 3rem;
  --space-md: 5rem;
  --space-lg: 10rem;

}

html {
  font-size: 62.5%;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--color-txt);
  font-size: var(--font-size-rg);
  background-color: var(--color-bg);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight);
}

h1 {

  text-transform: uppercase;
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
  line-height: 1;
  text-transform: uppercase;
}

h3 {
  font-size: var(--font-size-xs);
  text-transform: uppercase;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  width: fit-content;
  &:hover {
    text-decoration: underline;
  }
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-3);
  border: 2px solid var(--gray-0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-4);
}
