/* Remove default margins & padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Lists */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
button {
  // all: unset;               
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Inputs */
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  display: block;
}
