.account-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-rg);
  padding: var(--space-sm);
}

.account {
  // display: flex;
  // gap: var(--space-rg);

  &__name {
    font-size: var(--font-size-lg);
  }

  &__index {
    font-family: var(--font-family-mono);
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
  }

  &__data {
    display: grid;
    grid-template-columns: 20rem 1fr;
    text-transform: uppercase;

    > * {
      font-size: var(--font-size-sm);
    }
  }

  &__label {
    position: relative;

    &::after {
      content: ":";
      position: absolute;
      right: 0;
      display: inline-block;
      margin-right: var(--space-rg);
    }
  }

  &__data--name .account__entry {
    text-transform: capitalize;
  }

  &__redirect {
    text-transform: uppercase;
  }
}
