.feedback-card {
  width: 100%;
  margin: auto;
  max-width: 35rem;
  text-align: center;
  padding: var(--space-sm);
  margin-top: var(--space-md);
  background-color: var(--color-red);

  &__wrapper {
    padding: var(--space-sm);
    border: 1px dashed var(--gray-01);
  }

  &__label {
    text-transform: uppercase;
    font-weight: 700;
  }
}
