.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  &__input {
    width: inherit;
    min-height: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-md);

    &::placeholder {
      text-align: center;
      color: var(--gray-02);
      text-transform: uppercase;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    button {
      text-transform: uppercase;
      line-height: 1;
    }
  }
}
