.account-list {
  margin-top: var(--space-rg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-md) var(--space-rg);
}

.account__data--password {
  padding: var(--space-xs) 0;
  align-items: center;
}

.account__data--password .account__entry {
  padding: var(--space-xs) calc(var(--space-xs) + 0.3rem);
  border: 1px dashed var(--color-border-light);
  width: fit-content;
}